<!-- Small presentation -->
<!-- ################################################ -->
<div>
	<div id="questions" class="container">
		<h1>How it works</h1>
		<p>The conversion is divided in 3 main step:</p>
		<p><b>- 1. Pitch Detection:</b> By using a pitch detection algorithm [Mc Leod Pitch Detection Algorithm], we convert the input audio signal in a pitch array by applying the algorithm all along the track. Although the algorithm works with any sampling period, it is recommanded to record audio with a high sampling frequency such as 44.1Khz.</p>
		<p><b>- 2. Step Detection:</b> This stage takes care of detecting the position of note changes.</p>
		<p><b>- 3. Rhythm Detection:</b> Now that the succession of the notes and their durations is known, we need to search the BPM and rhythms that fit the best for each notes.</p>
		

		<h1>Futurs improvements</h1>
		<p>
			- [Step Detection] Perform using machine learning.<br>
			- [Pitch Detection] Improve computation time.
		</p>

		<h1>Sources</h1>
		<p>
			Angular <a href="https://angular.io/">https://angular.io/</a><br>
			FileSaver.js <a href="https://github.com/eligrey/FileSaver.js">https://github.com/eligrey/FileSaver.js</a><br>
			wavesurfer.js <a href="https://wavesurfer-js.org/">https://wavesurfer-js.org/</a><br>
			Bootstrap <a href="https://getbootstrap.com/">https://getbootstrap.com/</a><br>
			NGX Bootstrap <a href="https://valor-software.com/ngx-bootstrap/">https://valor-software.com/ngx-bootstrap/</a><br>
			Highcharts <a href="https://www.highcharts.com/">https://www.highcharts.com/</a><br>
			Public Domain Vectors <a href="https://publicdomainvectors.org/">https://publicdomainvectors.org/</a><br>
			OpenSheetMusicDisplay <a href="https://opensheetmusicdisplay.org/">https://opensheetmusicdisplay.org/</a><br>
			Terms And Conditions Template <a href="https://termsandconditionstemplate.com/">https://termsandconditionstemplate.com/</a><br>
			McLeod Algorithm <a href="https://gist.github.com/arilotter/333cacfe16e16d27e2c125a8d788f95e">https://gist.github.com/arilotter/333cacfe16e16d27e2c125a8d788f95e</a><br>
			Dijstra algorithm <a href="https://github.com/chestercharles/dijkstra/blob/master/Dijkstra.ts">https://github.com/chestercharles/dijkstra/blob/master/Dijkstra.ts</a><br>
			Web Worker in Angular 6 <a href="https://medium.com/@suresh.patidar/running-web-worker-in-angular-6-application-a-step-by-step-guide-74e88c566ba4">https://medium.com/@suresh.patidar/running-web-worker-in-angular-6-application-a-step-by-step-guide-74e88c566ba4</a><br>
		</p>

	</div>
</div>
